<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The curse</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/curse.css">
</head>
<body>
    <header>
        <h1>Break the curse</h1>
    </header>
    <main>
        <h3 class="question">What does the frog need to be a hot prince?</h3>
        <h4 class="user-info">...</h4>
        <div class="img"></div>
    </main>
    <footer>
        <p>Photo by Robert Zunikoff on Unsplash</p>
        <p>Photo by Justin Luebke on Unsplash</p>
        <p>Photo by Cederic X on Unsplash</p>
    </footer>
    <script type="text/javascript" src="../assets/curse.js"></script>
</body>
</html>